PORT = 
AUTH_URL = https://id.kinguin.net
SALES_MANAGER_URL = https://gateway.kinguin.net/sales-manager-api
CLIENT_ID = 
CLIENT_SECRET = 
X_API_KEY = 
GATEWAY_KINGUIN_URL = https:/gateway.kinguin.net/esa/api/v2
SELLERS_NAME = 