PORT = 3001
TOKEN = 
URL = 
THIS_URL = 
TAXA_GAMIVO_PORCENTAGEM_MAIORIGUAL_4 = 0.099
TAXA_GAMIVO_FIXO_MAIORIGUAL_4 = 0.45
TAXA_GAMIVO_PORCENTAGEM_MENOR_QUE4 = 0.05
TAXA_GAMIVO_FIXO_MENOR_QUE4 = 0.10
TAXA_WHOLESALE = 1.035
SELLERS_NAME = 